<div>
  <%= image_tag("trill dos copy.png", :alt => "") %><br>

  <div class="header-info">
    <h1 class="header">
      Sonny Buckner
    </h1>
  </div>

</div>

<div class="divbody">
  <div class="profile">
    <img src="" alt="">
    <h1>Hello!</h1>
    <p>Welcome to my site!
    </p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="webdevphoto" src="1webdevphoto.jpeg" alt="">
      <h3>Web Devolopment</h3>
      <p class="SKillP">This Summer I focused on learning how to build a website from scratch, coding it to all its glory.
      </p>

    </div>
    <div class="skill-row">
      <img class="Ableton" src="1Ableton_Live_logo.png" alt="">
      <img class="flstu" src="1fruitfl.png" alt="">
      <h3>Music Production</h3>
      <p class="SKillP2">Since 2017 I've been growing my knowlege on Music Production, I'm always looking to expand my knowlege.
      </p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Contact me!
    </h3>
    <p>I'm only a kid, I'll get back to you as soon as I remeber to check my email ! Find my email down below.</p>
    <a class="amButton2" href="contactme.html">Send me an Email!</a>

  </div>
</div>

<div class="about_me">
  <hr>
  <h2>About Me!</h2>
  <p class="AboutMe">
    <em>Learn more about me:</em>
    <br>
    I am a 15 year old Sophmore at Saint Mary's College High School.
    <br>
    I play Soccer and Basketball as well as Run Track.
    <br>
    I like Video games and Music Production.
    <br>
    When I go to college I want to study Music Production and Sound Engineering.
    <br>
    I live in San Ramon California with my Mom and My Sister.
    <br>
    I love arguments and back and forth conversations because its an oppertunity for me to grow, even if the other doesn't.
  </p>
  <img src="videoGameMusic.jpeg" alt="">
  <img src="saintMarysCHS.jpg" alt="">
  <img src="sportsHeart.jpg" alt="">
  <img class="AboutImg" src="tripplejump.jpg" alt="">

</div>

<hr>
<h2>Resorces!
</h2>
<p>Just a few websites about what I do and who I am.
</p>

<div class="resources">
  <a class="amButton2" href="http://www.hiddengeniusproject.org/">Hidden Genius Project Home Page</a><br>
  <a class="amButton2" href="https://www.saintmaryschs.org/">SMCHS Home Page</a><br>
  <a class="amButton2" href="https://soundcloud.com/soundbasement">Soundcloud: qualityhrtz/The $ound3asement</a><br>
  <a class="amButton2" href="https://youtu.be/ab_TBVZewoQ">What is Music Production?</a>
</div>

<br><br><br>
<div class="footer">
  <a class="footer-link" href="https://Soundcloud.com/soundbasement">Listen to my music!|</a>
  <a class="footer-link" href="https://hiddengeniusproject.org/">Hidden Genius Project|</a>
  <a class="footer-link" href="https://saintmaryschs.org">Learn about My school</a>

</div>
<section id="about-me">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center about-info">
        <h2 class="about-section head-text">About me</h2>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 about-main-part">
            <div class="col-md-4 my-picture-block">
              <label class="my-pic-content">
                <img src="img/banana.jpg" height="200px" width="200px">
                <br>
                Joshua Wilson
                <br>
                <span>
                  <i>Begineer website creator</i>
                </span>
              </label>
            </div>
            <div class="about-main-part">

              <div class="col-md-7 about-text text-left">
                <span class="arrow-abs">
                  <i class="fa fa-caret-left"></i>
                </span>
                <p class="hi-all">Hi all!</p>
                <p>Also I would like to communicate and co-work with new, talented people, from whom I can study faster and more efficient.</p>
                <p>Here is also the
                  <a href="#portfolio">portfolio</a>
                  of my own projects, make sure to check them out!
                </p>
                <p>Feel free to contact me via
                  <a target="_blank" href="https://www.google.comtheblackknight7789@gmail.com">gmail</a>
                  Cheers!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
